In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv('Reduced_salary_list.csv')
df.rename(columns={'Unnamed: 0':'Index'},inplace=True)
df.head()

,Index,Rating,Company Name,Job Title,Salary,Salaries Reported,Location,Employment Status,Job Roles
0,0,3.9,Zibtek,Mobile Software Developer,200000,1,Bangalore,Full Time,SDE
1,1,3.8,LTI,Python Software Engineer - Intern,60000,1,Bangalore,Intern,SDE
2,2,4.1,Siemens,Software Engineer(Python Developer),1800000,1,Bangalore,Full Time,SDE
3,3,3.3,Infosys,Senior Python Developer/Software Engineer,500000,1,Bangalore,Full Time,SDE
4,4,3.8,LTI,Senior Python Developer/Software Engineer,744000,1,Bangalore,Full Time,SDE

In [152]:
# filtered_df=df[(df['Salary']>=400000) & (df['Job Roles']=='SDE') & (df['Location']=='Bangalore')].index[0]

# Vectorization

In [153]:
df['tags'] = df['Job Roles'] + ' ' + df['Employment Status'] + ' ' + df['Location'] + ' ' + df['Salary'].astype(str)

In [154]:
df.tags[0]

'SDE Full Time Bangalore 200000'

In [155]:
df['tags']=df['tags'].apply(lambda x:x.lower())

In [156]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=200,stop_words='english')

In [157]:
vectors=cv.fit_transform(df['tags']).toarray()

In [158]:
vectors.shape

(990, 128)

In [159]:
vectors[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [160]:
#calculate cosine distances

In [161]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)

In [162]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(49, 1.0), (52, 1.0), (55, 1.0), (63, 1.0), (68, 1.0)]

In [163]:
def recommend(job_role,location,salary_range,status):
    filtered_df=df[(df['Job Roles']==job_role) & (df['Location']==location) &  (df['Salary'].between(*salary_range)) & (df['Employment Status']==status)]
    job_index=filtered_df.index[0]
    distances=similarity[job_index]
    jobs_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:11]
    
    for i in jobs_list:
        print(i[0])

In [228]:
recommend('Web','Bangalore',(0,50000),'Intern')

IndexError: index 0 is out of bounds for axis 0 with size 0

In [230]:
df.iloc[666]['Company Name']

'Exposys Data Labs'

In [169]:
url_df=pd.read_csv('backup2_company_details.csv')
url_df=url_df[['Company Name','Company Url','Company Logo']]

In [170]:
url_df.shape

(990, 3)

In [173]:
url_df.isnull().sum()

Company Name      0
Company Url     167
Company Logo    310
dtype: int64

In [174]:
url_df['Company Url'].fillna('https://www.linkedin.com/',inplace=True)

In [175]:
url_df['Company Logo'].fillna('https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/108px-LinkedIn_icon.svg.png?20210220164014',inplace=True)

In [203]:
url_df.isnull().sum()

Company Name    0
Company Url     0
Company Logo    0
dtype: int64

In [202]:
url_df.head()

  Company Name  Company Url                           Company Logo
0       Zibtek   zibtek.com   https://logo.clearbit.com/zibtek.com
1          LTI   l-tike.com   https://logo.clearbit.com/l-tike.com
2      Siemens  siemens.com  https://logo.clearbit.com/siemens.com
3      Infosys  infosys.com  https://logo.clearbit.com/infosys.com
4          LTI   l-tike.com   https://logo.clearbit.com/l-tike.com

In [216]:
url_df.iloc[675]

Company Name                                               Lenovo
Company Url                                         lenovo.com.cn
Company Logo    https://upload.wikimedia.org/wikipedia/commons...
Name: 675, dtype: object

In [217]:
import pickle

In [219]:
pickle.dump(df.to_dict(),open('jobs.pkl','wb'))

In [227]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [231]:
pickle.dump(url_df.to_dict(),open('urls.pkl','wb'))

In [9]:
filtered_df=df[(df['Job Roles']=='SDE') & (df['Location']=='Bangalore') &  (df['Salary'].between(50001, 100000)) & (df['Employment Status']=='Intern')]

In [10]:
filtered_df

,Index,Rating,Company Name,Job Title,Salary,Salaries Reported,Location,Employment Status,Job Roles
1,1,3.8,LTI,Python Software Engineer - Intern,60000,1,Bangalore,Intern,SDE