In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df=pd.read_csv('backup3.csv')

In [4]:
df=df[['Company Name','tags','Salary','Job Roles']]

In [27]:
df.head()

,Company Name,tags,Salary,Job Roles
0,Zibtek,"['mobile', 'software', 'developer', 'bangalore...",200000,['SDE']
1,LTI,"['python', 'software', 'engineer', '-', 'inter...",60000,['SDE']
2,Siemens,"['software', 'engineer(python', 'developer)', ...",1800000,['SDE']
3,Infosys,"['senior', 'python', 'developer/software', 'en...",500000,['SDE']
4,LTI,"['senior', 'python', 'developer/software', 'en...",744000,['SDE']

In [6]:
#converting the tags into lower case
df['tags']=df['tags'].apply(lambda x:x.lower())

# Applying vectorization

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [8]:
vectors=cv.fit_transform(df['tags']).toarray()

In [9]:
vectors.shape

(990, 78)

find the cosine distances between the vectors

In [10]:
from sklearn.metrics.pairwise import cosine_similarity
similarities=cosine_similarity(vectors)

# Recommend Jobs

In [26]:
def recommend(tags, salary, job_roles):
    try:
        # Filter the DataFrame based on multiple conditions
        print(1)
        print(tags,salary,job_roles)
        filtered_df = df[(df['Salary'] == salary) & (df['Job Roles'] == job_roles)]
        print(filtered_df)
        # Check if any matching jobs are found
        if not filtered_df.empty:
            job_index = filtered_df.index[0]
            
            # Check if the job_index is within the valid range
            if 0 <= job_index < len(similarities):
                distances = similarities[job_index]
                job_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]

                # Print the recommended companies
                for i in job_list:
                    print(df.iloc[i[0]]['Company Name'])
            else:
                print(f"Invalid job index: {job_index}")
        else:
            print(f"No matching job found for the given criteria.")
    except IndexError:
        print(f"An IndexError occurred. Please check your data and code.")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")

# Example usage
recommend(['mobile', 'software', 'developer', 'bangalore'], 200000, 'SDE')

1
['mobile', 'software', 'developer', 'bangalore'] 200000 SDE
Empty DataFrame
Columns: [Company Name, tags, Salary, Job Roles]
Index: []
No matching job found for the given criteria.

In [17]:
recommend('Bangalore','Intern','SDE')

No matching job found for the given criteria.