In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [15]:
df=pd.read_csv('backup3.csv')

In [16]:
df=df[['Company Name','tags','Salary']]

In [19]:
df.head()

  Company Name                                               tags   Salary
0       Zibtek  ['mobile', 'software', 'developer', 'bangalore...   200000
1          LTI  ['python', 'software', 'engineer', '-', 'inter...    60000
2      Siemens  ['software', 'engineer(python', 'developer)', ...  1800000
3      Infosys  ['senior', 'python', 'developer/software', 'en...   500000
4          LTI  ['senior', 'python', 'developer/software', 'en...   744000

In [18]:
#converting the tags into lower case
df['tags']=df['tags'].apply(lambda x:x.lower())

# Applying vectorization

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [21]:
vectors=cv.fit_transform(df['tags']).toarray()

In [23]:
vectors[0]

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0], dtype=int64)